// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.App {
  flex-grow: 1;
}