$enable-gradients: true;

@import '~bootstrap/scss/bootstrap.scss';

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: $gray-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  flex-grow: 1;
}
#editor {
  border-color: $gray-300;
  resize: none;
  overflow-y: auto;
  &:focus {
    outline: none;
  }
}
#preview {
  overflow-y: auto;
  background-color: $white;
}